<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16"  href="/images/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet"  type="text/css" href="/css/Styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="/js/JsCode.js"></script>
    <style>
    a{
    color:white;
    }
    a:hover {
    color: white;
    text-decoration:none;
    }
    </style>
</head>
<body >

<nav class="navbar navbar-default" role="navigation" style="background-color:#d6dbc3;">
    <div class="container" >
        <div class="navbar-header" style="background-color:#d6dbc3; font-family: Arial; font-size: 10px;">
            <a id="menu-toggle" href="#" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="navbar-brand" style="margin-left: -123px;color:#930b0b; back  font-family:courier,arial,helvética;width:900px;" href="#">
                FIVE MASTERS SYSTEMS - INCOMES AND EGRESSES APP
            </a>
        </div>
        <div id="sidebar-wrapper"  class="sidebar-toggle"  >
            <ul class="sidebar-nav">
                <li style="position: absolute;left: 30px;top: 50px;">
                    <img src="images/FIVE MASTERS_free-file.png" width="120" height="120">
                </li>
                <li style="position: absolute;width: 138px;height: 18px;left: 42px;top: 280px;font-family: 'Inter';font-style: normal;font-weight: 600;font-size: 10px;line-height: 18px;color: #FFFFFF;">
                    <button class="button1 btn btn-primary btn-lg" ><a th:href="@{/VerMovimientos}">Ingresos y Egresos</a></button>
                </li>
                <li style="position: absolute;width: 138px;height: 18px;left: 42px;top: 500px;font-family: 'Inter';font-style: normal;font-weight: 600;font-size: 10px;line-height: 18px;color: #FFFFFF;">
                    <button class="button2 btn btn-primary btn-lg" ><a th:href="@{/VerEmpleados}">Usuarios</a></button>
                </li>
                <li style="position: absolute;width: 138px;height: 18px;left: 42px;top: 500px;font-family: 'Inter';font-style: normal;font-weight: 600;font-size: 10px;line-height: 18px;color: #FFFFFF;">
                    <button class="button3 btn btn-primary btn-lg" ><a th:href="@{/VerEmpresas}">Empresas</a></button>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="w3-container" style="width: 1653px; "  >

    <h1 class="text-center"  style="color:#578a8f;font-family:arial;font-size: 25px;"> Lista de Movimientos de Dinero</h1>
    <br><table class="w3-table-all w3-centered"  style="margin: 0 auto;     width: 1076px;">
    <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Monto</th>
        <th class="text-center">Concepto</th>
        <th class="text-center">Empleado Responsable</th>
        <th class="text-center">Editar</th>
        <th class="text-center">Eliminar</th>

    </tr>


    <tr th:each="movimiento : ${movlist}">
        <td th:text="${movimiento.idMovimientoDinero}" class="text-center"></td>
       <td th:text="${movimiento.monto}" class="text-center"></td>
         <td th:text="${movimiento.conceptoMovimientoDinero}" class="text-center"></td>
         <td th:if="${movimiento.conceptoMovimientoDinero=='1'}">Papeleria </td>
         <td th:if="${movimiento.conceptoMovimientoDinero=='2'}">Servicios Publicos/Privados </td>
         <td th:if="${movimiento.conceptoMovimientoDinero=='3'}">Operativos </td>
         <td th:if="${movimiento.conceptoMovimientoDinero=='4'}">Caja menor </td>
         <td th:if="${movimiento.conceptoMovimientoDinero=='5'}">Tributario </td>
         <td th:if="${movimiento.conceptoMovimientoDinero=='6'}">Mobiliario </td>
         <td th:if="${movimiento.conceptoMovimientoDinero=='7'}">Maquinaria y Equipo </td>
         <td th:if="${movimiento.conceptoMovimientoDinero=='8'}">Nomina </td>
         <td th:if="${movimiento.conceptoMovimientoDinero=='9'}">Varios </td>
         <td th:if="${movimiento.conceptoMovimientoDinero=='10'}">Mensajeria </td>

         <td th:text="${movimiento.empleado.nombreEmpleado}" class="text-center"></td>

        <td><button type="button" class="btn btn-warning"><a th:href="@{/EditarMovimiento/{id} (id=${movimiento.idMovimientoDinero})}">Editar</a></button></td>
         <td><button type="button" class="btn btn-danger"><a th:href="@{/EliminarMovimiento/{id} (id=${movimiento.idMovimientoDinero})}">Eliminar</a></button></td>
     </tr>
 </table>

     <br><br>

     <button type="button" class="btn btn-info" style="left: 1068px;position: absolute;"><a th:href="@{/AgregarMovimiento}">Agregar Nuevo Movimientos  </a></button>
     <br><br>
     <button type="button" class="btn btn-primary" style="left: 288px;position: absolute;"><a th:href="@{/VerEmpresas}">Ver lista de Empresas</a></button>
     <br><br>
     <button type="button" class="btn btn-primary" style="left: 288px;position: absolute;"><a th:href="@{/VerEmpleados}">Ver lista de Empleados</a></button>
 </div>

 <script th:inline="javascript">
     window.onload=function(){

         var msg= [[${mensaje}]];
         if (msg == "saveOK"){
             Command : toastr["success"]("Movimiento registrado con éxito!")
             }
         else if (msg == "saveNOOK"){
             Command : toastr["error"]("Operación sin éxito!")
         }
         else if (msg == "updateOK"){
             Command : toastr["success"]("Datos del Movimiento actualizados con éxito!")
         }
         else if (msg == "updateError"){
             Command : toastr["error"]("Datos del Movimiento no se actualizaron con éxito!")
         }
         else if (msg == "deleteOK"){
             Command : toastr["success"]("Movimiento eliminado con éxito!")
         }
         else if (msg == "deleteError"){
             Command : toastr["error"]("Movimiento no pudo ser eliminado!")
         }
         toastr.options={
             "positionClass": "toast-bottom-left",
             "showDuration":"200",
             "showMethod":"fadeIn",
             "hideMethod":"fadeOut",
         }


     }

 </script>

 </body>
 </html>